/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
main {
  flex: 1 0 auto;
  min-height: 100vh;
}
a {
  color: #529dff;
}
/* Nav */
nav {
  background-color: #9b0000;
}
/* Slider */
.slider {
  margin-bottom: 3rem;
}
.indicator-item.active {
  background-color: #9b0000 !important;
}
.caption {
  width: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(7, 7, 7, 0.5);
}
/* Search input */
#translateForm {
  background-color: rgba(202, 202, 202, 0.5);
  padding: 0.01rem;
  /* margin-bottom: 7rem; */
  min-height: 80vh;

  margin-bottom: 5rem;
}

input {
  display: block;
  text-align: center;
  border-bottom-color: rgb(31, 31, 31) !important;
}
TextInput {
  display: block !important;
  text-align: center !important;
}
label {
  margin-top: 5rem;
  display: block;
  text-align: center;
  line-height: 100%;
  color: #000000;
}
::placeholder {
  color: #757575;
}
button {
  display: block !important;
  margin: auto !important;
  background-color: #9b0000 !important;
}

.dropdown-content li span {
  text-align: center;
}
/* footer */
footer {
  background-color: #9b0000 !important;
}

/* User page */
.user-info {
  /* height: 100px; */
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: rgba(202, 202, 202, 0.5);

  /* border: 2px solid black; */
}
.phrases {
  min-height: 50vh;
}

/* Modals  */
.modal {
  border-radius: 2%;
}
.modal-footer {
  display: none !important;
}
@media screen and (min-width: 1171px) {
  .modal {
    width: 30%;
  }
  .img2 {
    background-size: auto !important;
  }
  .caption {
    width: 40% !important;
  }
  .deleteBtn {
    display: inline-block !important;
    margin-left: 20% !important;
  }
}
.modal-overlay {
  background-color: #141414;
}
.btn-flat {
  display: none !important;
}
.login {
  margin-top: 1.5rem !important;
}
