/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}
main {
  flex: 1 0 auto;
}
/* Nav */
nav {
  background-color: #133062;
}

/* Search input */
#translateForm {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.01rem;
  /* margin-bottom: 7rem; */
  height: 80vh;
}
input {
  display: block;
  text-align: center;
  /* border-bottom-color: rgb(255, 255, 255) !important; */
}
TextInput {
  display: block !important;
  text-align: center !important;
}
label {
  margin-top: 5rem;
  display: block;
  text-align: center;
  line-height: 100%;
  color: #133062;
}
::placeholder {
  color: #444444;
}
button {
  display: block !important;
  margin: auto !important;
}

.dropdown-content li span {
  text-align: center;
}
/* footer */
footer {
  background-color: #133062 !important;
}

/* User page */
.user-info {
  /* height: 100px; */
  margin: 0 auto;
}
